item-alike
  div(onclick='{postAlike}').wrap-item.f.fm
    div.wrap-icon.mr4.f.fm
      i.icon-alike
    div.label.f.fm
      p alike: 
      p {counter}

  style(scoped, type='less').
    @import "public/stylesheets/main.less";
    @import "public/stylesheets/theme.less";
    :scope {
      &.pushed {
        .wrap-icon {
          pointer-events: none;
          i {
            color: @primaryBlack !important;
          }
        }
        p {
          color: @primaryBlack !important;
        } 
      }
      .wrap-item {
        color: #bbb;
        .wrap-icon {
          i {
            font-size: 24px;
            margin-left: -4px;
          }
        }
      }
    }

  script.

    var self = this;

    this.on('mount', function(){

    });

    this.alikes = [];

    this.counter = 0;

    // alikeする
    this.postAlike = function(){

      var alikeObj = {
        postAuthor: this.opts.authorid,
        from: session.user.uid,
        to: this.opts.postid,
        postedAs: this.opts.postedas,
        createdAt: new Date(),
      };
      
      service.db.collection("alikes").add(alikeObj)
        .then(function(docRef) {
          console.log("Document written with ID: ", docRef.id);
        })
        .catch(function(error) {
          console.error("Error adding document: ", error);
          alert('Failed to Post');
        });

      this.counter++;
      this.update();

      // 押された状態にする
      this.root.classList.add('pushed');

    }

    service.db.collection("alikes")
      .where("to", "==", self.opts.postid)
      .orderBy("createdAt", 'desc')
      .get().then(function(querySnapshot) {
        var posts = [];
        querySnapshot.forEach(function(doc) {
          if(doc.id){
            var data = doc.data();
            self.alikes.push(data);
            if(data.postAuthor==session.user.uid){
              // 押された状態にする
              self.root.classList.add('pushed');
            }
          }
        });
        self.counter = self.alikes.length;
        riot.update();
    });

