@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5hleu2');
  src:  url('fonts/icomoon.eot?5hleu2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5hleu2') format('truetype'),
    url('fonts/icomoon.woff?5hleu2') format('woff'),
    url('fonts/icomoon.svg?5hleu2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-post:before {
  content: "\e906";
}
.icon-alike:before {
  content: "\e907";
}
.icon-unlike:before {
  content: "\e908";
}
.icon-hacked:before {
  content: "\e903";
}
.icon-hack-in:before {
  content: "\e904";
}
.icon-create-account:before {
  content: "\e900";
}
.icon-timeline:before {
  content: "\e901";
}
.icon-my-page:before {
  content: "\e902";
}
