page-global-timeline
  div.wrap-page#wrapTimeline
    module-timeline-suggestion
    div(each='{item in posts}')
      module-post-card(content='{item}')
    div.wrap-loading-more
      div.f.fh
        atom-now-loading-icon

  style(scoped, type='less').
    @import "public/stylesheets/main.less";
    @import "public/stylesheets/theme.less";
    :scope {
      .wrap-page {
        width: 100%;
        background: @primaryBg;
        overflow: scroll;
        .wrap-loading-more {
          display: none;
        }
      }
    }

  script.

    var self = this;

    this.posts = [];
    this.loadedAt = new Date();
    this.enableLoading = true;
    this.isLoading = false;

    this.on('mount', function(){
      // Load More
      var content = document.getElementsByTagName("content")[0];
      content.onscroll = function(e){
        if(window.location.hash=='#global-timeline'){
          var scrollValue = this.scrollTop;
          var scrollHeight = this.scrollHeight;
          var offsetHeight = this.offsetHeight;
          if(scrollValue - (scrollHeight-offsetHeight) == 0){
            console.log("more");
            loadPosts(7, self.loadedAt);
          }
        }
      }
      
    });

    riot.mount('header', 'util-header', {status: 'normal'});
    riot.update();

    

    // 投稿のデータを取得
    var loadPosts = function(limitNum, when){
      if(self.enableLoading && !(self.isLoading)){
        self.isLoading = true;
        $('.wrap-loading-more').slideDown(400);

        service.db.collection("posts")
          .orderBy("createdAt", 'desc')
          //.startAt(startAt)
          .where("createdAt", "<", when)
          .limit(limitNum)
          .get().then(function(querySnapshot) {
            var posts = [];
            querySnapshot.forEach(function(doc) {
              if(doc.id){
                var data = doc.data();
                var post = {
                  postId: doc.id,
                  iconSrc: data.postedAs.imgUrl,
                  authorId: data.author,
                  name: data.postedAs.name,
                  uid: data.postedAs.uid,
                  text: data.text.split('\n'),
                  time: moment(data.createdAt).format('ddd DD, YYYY, HH:mm'),
                };
                posts.push(post);
                self.loadedAt = data.createdAt;
              }
              $('#loading').fadeOut(400);
            });
            self.posts = self.posts.concat(posts);
            riot.update();

            $('.wrap-loading-more').slideUp(400);

            // 読み込める投稿がなくなったら
            console.log('posts', posts);
            self.isLoading = false;
            if(posts[0]==undefined) self.enableLoading = false;
        });
      } // if(self.enableLoading)
    }

    if(session.user){ 
      $('#loading').fadeIn(400);
      loadPosts(14, this.loadedAt);
    }

    // サインアップ時の処理
    async function postNewUser(){
   
      if(session.user){
        var userExist = await service.db.collection("users")
          .where("uid", "==", session.user.uid)
          .limit(1)
          .get()
          .then(function(querySnapshot) {
            if(querySnapshot.docs[0]){
              return querySnapshot.docs[0].data();
            }else{
              return undefined;
            }
          });
      }

      if(userExist != undefined) return;
      

      var user = session.userFireauth;

      var userObj = {
        name: user.displayName,
        uid: user.uid,
        author: user.uid,
        //auth_token: session.token,
        profileHistory: ['No Profile'],
        email: user.email,
        imgUrl: user.photoURL + '?width=420&amp;height=420',
        //hackedCounter: 0,
        //follow: [],
        //follower: [],
        createdAt: new Date(),
        latestLogin: new Date(),
        //hackedUid: user.uid,
        currentUser: {
          name: user.displayName,
          uid: user.uid,
          profile: '',
          imgUrl: user.photoURL + '?width=420&amp;height=420',
        },
      };

      session.user = userObj;

      await service.db.collection("users").add(userObj)
        .then(function(docRef) {
          console.log("Document written with ID: ", docRef.id);
        })
        .catch(function(error) {
          console.error("Error adding document: ", error);
          alert('Failed to Sign Up');
          logout();
        });



      var postObj = {
        author: session.user.uid,
        postedAs: session.user.currentUser,
        text: `${userObj.name} has started Hack In.`,
        imgUrls: [],
        //favedBy: [],
        //sharedBy: [],
        createdAt: new Date()
      };

      service.db.collection("posts").add(postObj)
        .then(function(docRef) {
          console.log("Document written with ID: ", docRef.id);
        })
        .catch(function(error) {
          console.error("Error adding document: ", error);
          alert('Failed to Post');
        });
      

      $('#loading').fadeIn(400);
      riot.mount('header', 'util-header', {status: 'normal'});
      //riot.mount('content', 'page-global-timeline');

      riot.update();
      
    } // postNewUser()


    if(session.isNewUser){
      postNewUser();
      session.isNewUser = false;
    }else{ // それ以外ならログインを更新
      // 自分のlatestLoginを更新
      service.db.collection("users")
        .where("uid", "==", session.user.uid)
        .limit(1)
        .get()
        .then(function(querySnapshot) {
          querySnapshot.forEach(function(doc) {
            var id = doc.id;
            session.user.latestLogin = new Date();
            service.db.collection("users").doc(id).set(session.user);
          });
        })
        .catch(function(error) {
            // The document probably doesn't exist.
          console.error("Error updating document: ", error);
        });
    }

    
    // フォローが少なかったらsuggestを表示させて、多かったら#timelineに移動する。
    async function responseToFollows() {

      var follows = await service.db.collection("follows")
        .where("from", "==", session.user.uid)
        .get();

      if(!(session.suggested) && follows.docs.length < 5){
        window.location.href = './#suggest-follow';
        riot.mount('header', 'util-header', {
          label: "Let's follow them",
          status: 'ok'
        });
        riot.update();
        session.suggested = true;
      }else if(follows.docs.length >= 5){
        window.location.href = './#timeline';
      }

    }

    responseToFollows();










  

