page-account
  div.wrap-page.py48
    p test

  style(scoped, type='less').
    @import "public/stylesheets/main.less";
    @import "public/stylesheets/theme.less";
    :scope {
      .wrap-page {
        padding: 48px 0px;
        width: 100%;
        height: 100%;
        background: @primaryBg;
      }
    }

  script.
    
    var self = this;

    this.on('mount', function(){
      $('modal-content').addClass('show');
      $('modal-content').scrollTop(0);

      // 次の画面遷移時にフェードインを防止
      riot.enableFadeIn = false;

      $(document).on("custom:close", function() {
        $('modal-content').removeClass('show');
        self.unmount(true);
      });

      riot.enableReloadContent = false;

    });

    var uid = opts.__proto__.uid;

    if(uid){

    }