util-header
  div.wrap-util
    div(if="{status == 'normal'}").container.f.fm.flex-between
      a.wrap-img.f.fh
        img(src='{iconSrc}')
      a(onclick='{toPost}').wrap-img.f.fh
        img(src='{postSrc}')

    div(if="{status == 'create_post'}").container.f.fm.flex-between
      a(onclick='{toBack}').wrap-img.f.fh
        img(src='{backSrc}')
      a(onclick='{sendPost}').f.fh
        p.cta#postButton Post

    div(if="{status == 'create_comment'}").container.f.fm.flex-between
      a(onclick='{toBack}').wrap-img.f.fh
        img(src='{backSrc}')
      a(onclick='{sendComment}').f.fh
        p.cta#postButton Reply

    div(if="{status == 'back'}").container.f.fm.flex-between
      a(onclick='{toBack}').wrap-img.f.fh
        img(src='{backSrc}')

    div(if="{status == 'back_with_edit'}").container.f.fm.flex-between
      a(onclick='{toBack}').wrap-img.f.fh
        img(src='{backSrc}')
      a(onclick='{toPost}').wrap-img.f.fh
        img(src='{postSrc}')

    div(if="{status == 'post_detail'}").container.f.fm.flex-between
      a(onclick='{toBack}').wrap-img.f.fh
        img(src='{backSrc}')
      a(onclick='{toCreateComment}').wrap-img.f.fh
        img(src='{commentSrc}')

    div(if="{status == 'ok'}").container.f.fm.flex-between
      div
      a(onclick='{toBackAndFollow}').f.fh
        p.cta-active#postButton OK

    div(if='label').wrap-label
      p {label}



  style(scoped, type='less').
    @import "public/stylesheets/main.less";
    @import "public/stylesheets/theme.less";
    :scope {
      position: fixed;
      z-index: 101;
      top: 0;
      left: 0;
      width: 100%;
      height: 48px;
      border-bottom: solid 0.6px rgba(0,0,0,0.2);
      background: @secondaryBg;
      /*filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.6));*/
      .wrap-util {
        position: relative;
        width: 100%;
        height: 100%;
        .container {
          padding: 0px 12px;
          height: 100%;
          .wrap-img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;
            img {
              height: 100%;
              object-fit: cover;
            }
          }
          .cta {
            color: @primaryGray;
            font-weight: bold;
            pointer-events: none;
          }
          .cta-active {
            color: @ctaColor;
            pointer-events: auto;
          }
        }

        .wrap-label {
          position: absolute;
          top: 14px;
          left: 0;
          width: 100%;
          pointer-events: none;
          p {
            width: 100%;
            color: #2a2a2a;
            text-align: center;
            font-weight: 500;
          }
        }
      } /* .wrap-util */
    }

  script.

    var self = this;

    this.status = opts.status;
    this.label = opts.label;

    this.on('mount', function(){
      if('user' in session){

        // normal
        this.postSrc = './img/icon/post.svg';
        this.iconSrc = session.user.currentUser.imgUrl;
        this.toPost = function(){
          window.location.href = './#create-post';
        }
        
        // create_post
        this.sendPost = function() {
          var textarea = document.getElementById('postInput');
          var value = textarea.value;
          console.log(value);
          if(value=='') return;

          var postObj = {
            author: session.user.uid,
            postedAs: session.user.currentUser,
            text: value,
            imgUrls: [],
            createdAt: new Date()
          };
          
          $('#loadingForModal').fadeIn(400);
          service.db.collection("posts").add(postObj)
            .then(function(docRef) {
              console.log("Document written with ID: ", docRef.id);
              riot.enableReloadContent = true;
              window.history.back();
              $('#loadingForModal').fadeOut(400);
            })
            .catch(function(error) {
              console.error("Error adding document: ", error);
              alert('Failed to Post');
            });
        }

        
        // create_comment
        this.commentSrc = './img/icon/comment.svg';
        this.toCreateComment = function() {
          var targetId = riot.needUpdateContent.postId; // タイムラインでクリックした時にpostIdは格納される
          window.location.href = `./#create-comment/${targetId}`;
        }

        this.sendComment = function() {
          var textarea = document.getElementById('postInput');
          var value = textarea.value;
          console.log(value);
          if(value=='') return;

          var commentObj = {
            author: session.user.uid,
            postedAs: session.user.currentUser,
            text: value,
            imgUrls: [],
            createdAt: new Date(),
            postId: riot.needUpdateContent.postId, //self.targetId,
            to: riot.needUpdateContent.postId, //self.targetId,
          };
          
          $('#loadingForModal').fadeIn(400);
          service.db.collection("comments").add(commentObj)
            .then(function(docRef) {
              console.log("Document written with ID: ", docRef.id);
              window.history.back();
              $('#loadingForModal').fadeOut(400);
            })
            .catch(function(error) {
              console.error("Error adding document: ", error);
              alert('Failed to Post');
            });
        }


        this.toBackAndFollow = function() {
          riot.toFollowUids;
          for(var i in riot.toFollowUids){
            var followObj = {
              from: session.user.uid,
              to: riot.toFollowUids[i],
              createdAt: new Date(),
            };
            service.db.collection("follows").add(followObj);
          }
          //window.history.back();

          riot.enableReloadContent = true;
          if(riot.toFollowUids.length < 4){
            window.history.back();
          }else{
            window.location.href = './#timeline';
          }

        }


        this.backSrc = './img/icon/back.svg';
        this.toBack = function() {
          window.history.back();
        }

      } // if('user' in session)
    });
    

    /*
    switch (opts.status){
      case 'normal':
        this.leftIconSrc = '';
        this.rightIconSrc = '';
      break;

      case 'modal':

      break;
    }
    */