module-post-card
  div.wrap-module.px12.pt6.pb12
    div.wrap-info.py6.mb6.f.fm
      a(onclick='{toAccountPage.bind(this, opts.content.uid)}').wrap-img.mr12.f.fh
        img(src='{opts.content.iconSrc}' alt='User Icon')
      div
        p.name {opts.content.name}
        p.created-at {opts.content.time}
    div.wrap-text.mb8
      p(each='{text in opts.content.text}') {text}
    div.wrap-icons.f.flex-between
      item-alike(postid='{opts.content.postId}', authorid='{opts.content.authorId}', postedas='{opts.content.uid}')
      item-unlike(postid='{opts.content.postId}', authorid='{opts.content.authorId}', postedas='{opts.content.uid}')

  style(scoped, type='less').
    @import "public/stylesheets/main.less";
    @import "public/stylesheets/theme.less";
    :scope {
      .wrap-module {
        border-bottom: solid .6px rgba(0,0,0,0.2);
        .wrap-info {
          width: 100%;
          /*border-bottom: solid .6px rgba(0,0,0,0.2);*/
          .wrap-img {
            width: 42px;
            height: 42px;
            overflow: hidden;
            border-radius: 50%;
            img {
              /*border-radius: 50%;
              width: 42px;*/
              height: 100%;
              object-fit: cover;
            }
          }
          div {
            .created-at {
              font-size: 10px;
              color: @primaryGray;
            }
          }
        }
        .wrap-text {
          p {
            font-size: 16px;
          }
        }
      }
    }

  script.

    var self = this;

    this.on('mount', function(){
      
    });

    this.toAccountPage = function(uid, e){
      //riot.mount('header', 'util-header', {status: 'back'});
      //riot.update();
      
      var uid = uid;//e.target.dataset.uid;
      window.location.href = `./#users/${uid}`;
    }